.cell{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #F7F7F9;
  float: left;
  border-color: #DDD;
}
.cell.answered{
  color: blue;
}
.cell.fix{
  font-weight: bold;
}
.cell.hover{
  background-color: #BEBEC5;
}
.group{
  width: 111px;      
  float: left;
  margin-left: 0px;
}
.border{
  border-style:solid;
  border-width:1px;        
}
#sudoku-99{
  width: 339px;
}
.s99{
  width: 289px;
}
.container{
  width: 724px;
}
#choose-form{
  background-color: #F7F7F9;
}
.atv {
  color: #D14;
}
#values-count{
  font-size: 13px;
}
#choose-value-dialog{
  width: auto;
}
#process-dialog{
  width: auto;
  height: auto;
}